canvas{
  background-color: black;
  width: 768px;
  height: 768px;
}


.h1, h1{
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-size: 4em;
}
.italic{
  font-style: italic;
}
.bold{
  font-weight: bold;
}
.progress-bar{
  min-width: 2em;
}